.taskList {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.taskCell {
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  font-weight: bold;
  color: #777;
  background: #eee;
}
